<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holl.wechat.dao.ImageMapper">

    <resultMap id="imageResultmap" type="com.holl.wechat.model.Image">
        <result column="o_id" property="orderId"/>
        <result column="img_name" property="imageName"/>
    </resultMap>

    <insert id="insertImage" parameterType="com.holl.wechat.model.Image">
        insert into images
        (o_id, img_name)
        values (#{orderId}, #{imageName})
    </insert>

    <select id="getCount" resultType="Long">
        select count(*) from images
    </select>

    <select id="getImagesById" resultMap="imageResultmap">
        select o_id, img_name
        from images
        where o_id = #{orderId}
    </select>

</mapper>